/*@font-face {
  font-family: 'slate';
  src:font-url('slate.eot?-syv14m');
  src:font-url('slate.eot?#iefix-syv14m') format('embedded-opentype'),
    font-url('slate.woff2?-syv14m') format('woff2'),
    font-url('slate.woff?-syv14m') format('woff'),
    font-url('slate.ttf?-syv14m') format('truetype'),
    font-url('slate.svg?-syv14m#slate') format('svg');
  font-weight: normal;
  font-style: normal;
}

commented out slate font*/

//@import url('https://fonts.googleapis.com/css?family=Lato:400,700'); commenting out the google fonts

//@font-face {

/*font-family: "Lato", sans-serif;
src: url('../fonts/Lato-Regular.ttf') format ('truetype'),
url('../fonts/Lato-Regular.woff') format ('woff'),
url('../fonts/Lato-Regular.svg') format('svg'),
url('../fonts/Lato-Bold.ttf') format ('truetype');
font-weight: normal;
font-style:normal;

}

/*added lato fonts here incase proxima-nova does not work*/ // commented out the Lato font so it will not have Lato preloaded

%icon {
  font-family: "proxima-nova",sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content: url('../images/warning.svg');
}
%icon-info-sign {
  @extend %icon;
  content: url('../images/notice.svg');
}
%icon-ok-sign {
  @extend %icon;
  content: url('../images/success.svg');
}
%icon-search {
  @extend %icon;
  content: url('../images/search.svg');
}
